= simple_form_for(comment, url: comments_path, method: :post, html: { class: 'row' }) do |f|
  = f.hidden_field :book_id, value: book.id
  .col-md-8
    .mb-40
      .form-group
        = f.input :title,
           required: false,
           autofocus: true,
           label: t('.title'),
           input_html: { autocomplete: :on }
      .form-group
        = f.input :review,
           required: false,
           autofocus: true,
           label: t('.review'),
           input_html: { autocomplete: :on }
    .text-right
      = f.submit t('.post'), class: 'btn btn-default mb-20'
