.hidden-xs
  %table.table.table-hover
    %tr.no-hover
      %th.col-pic.pl-0
        %span.in-grey-600= t('.product')
      %th.col-title
      %th.col-price
        %span.in-grey-600= t('.price')
      %th.col-quantity
        %span.in-grey-600= t('.quantity')
      %th.col-total
        %span.in-grey-600= t('.subtotal')
      %th.col-close
    - items.each do |book|
      %tr
        %td
          .general-img-wrap-table
            = image_tag book.decorate.image_url, alt: book.name, class: 'cart-img-shadow pull-left'
        %td
          %p.title= book.name
        %td
          %span.font-16.in-gold-500.inline
            #{t('EUR')}
          %span.font-16.in-gold-500.inline{id:'book_price'}
            #{book.price}
        %td
          .input-group
            %a.input-link{href: "#"}
              %i.fa.fa-minus.line-heaght-40
            %input.form-control.quantity-input{type: "text"}
            %a.input-link{href: "#"}
              %i.fa.fa-plus.line-heaght-40
        %td
          %span.font-16.in-gold-500 €32.90
        %td
          %button.close.general-cart-close{type: "button", 'aria-label': "Close"}
            %span{'aria-hidden': "true"} &times;
