.hidden-xs
  %table.table.table-hover
    %tr.no-hover
      %th.col-pic.pl-0
        %span.in-grey-600= t('.product')
      %th.col-title
      %th.col-price
        %span.in-grey-600= t('.price')
      %th.col-quantity
        %span.in-grey-600= t('.quantity')
      %th.col-total
        %span.in-grey-600= t('.subtotal')
      %th.col-close
    - books.each do |book|
      %tr
        %td
          .general-img-wrap-table
            = link_to category_book_path(book.category,book) do
              = image_tag book.decorate.image_url(:small), alt: book.name, class: 'cart-img-shadow pull-left'
        %td
          %p.title= book.name
        %td
          %span.font-16.in-gold-500.inline
            #{t('EUR')}
          %span.font-16.in-gold-500.inline
            #{book.price}
        %td
          .input-group
            .input-link.pointer{id:"book_minus_id_#{book.id}"}
              %i.fa.fa-minus.line-heaght-40
            = text_field_tag :quantity, "", class: 'form-control quantity-input', id: "book_amount_id_#{book.id}", value: current_order.decorate.count_books(book), autofocus: true
            .input-link.pointer{id:"book_plus_id_#{book.id}"}
              %i.fa.fa-plus.line-heaght-40
        %td
          %span.font-16.in-gold-500.inline
            #{t('EUR')}
          %span.font-16.in-gold-500.inline{id:"book_price_id_#{book.id}"}
            #{current_order.decorate.subtotal_books_price(book)}
        %td
          = form_tag item_path(book), method: :delete do
            = button_tag(type: "submit", class: 'close general-cart-close', 'aria-label': "Close") do
              %span{'aria-hidden': "true"} &times;

      = content_for(:custom_script) do
        = render 'carts/click_amount.js', category: book.category, book: book, order: current_order

