.form-group.mb-30
  = f.label :password, t('devise.type_new_password')
  = f.input :password,
    required: true,
    label: false,
    hint: ("#{@minimum_password_length} #{t('devise.characters minimum')}" if @minimum_password_length),
    placeholder: t('devise.type_new_password'),
    input_html: { autocomplete: "new-password" }
.form-group.mb-30
  = f.label :password_confirmation, t('devise.confirm_password')
  = f.input :password_confirmation,
    required: true,
    label: false,
    placeholder: t('devise.confirm_password'),
    input_html: { autocomplete: "new-password" }
.text-center
  = f.button :submit, t('devise.change'), class: 'btn btn-default mb-20'
