%header.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle.pull-left{type: "button", 'data-toggle': "collapse", 'data-target': "#navbar"}
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand=t('title')
      = link_to carts_path, class: 'shop-link pull-right visible-xs' do
        %span.shop-icon
          %span.shop-quantity= count_items_in_cart
    = link_to carts_path, class: 'shop-link pull-right hidden-xs' do
      %span.shop-icon
        %span.shop-quantity= count_items_in_cart
    #navbar.navbar-collapse.collapse.pl-30{'aria-expanded': "false"}
      = render 'shared/media/mobile/menu', categories: categories
      = render 'shared/media/desktop/menu', categories: categories
