= simple_form_for password_form, as: :password, url: account_path(current_user), method: :put, class: 'general-form-md divider-lg-bottom pb-25' do |f|
  = f.hidden_field :user_id, value: current_user.id
  .form-group.mb-30
    = f.label :old_password, t('.old_password')
    = f.input :old_password,
       required: false,
       autofocus: true,
       label: false,
       placeholder: t('.old_password'),
       input_html: { autocomplete: :on }
  .form-group.mb-30
    = f.label :password, t('.password')
    = f.input :password,
       required: false,
       autofocus: true,
       label: false,
       placeholder: t('.password'),
       input_html: { autocomplete: :on }
  .form-group.mb-40
    = f.label :confirm_password, t('.confirm_password')
    = f.input :confirm_password,
       required: false,
       autofocus: true,
       label: false,
       placeholder: t('.confirm_password'),
       input_html: { autocomplete: :on }
  .general-text-align
    = f.button :submit, t('.save'), class: 'btn btn-default mb-10'
