= content_for(:title, t('.title'))
%main.container
  %h1.general-title-margin=t('.title')
  .hidden-xs.clearfix
    .dropdowns.pull-right
      .dropdown.width-240
        %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
          =t(".filter.#{Sort::SortBooksService::SORT_BY.first}")
          %i.fa.fa-angle-down.dropdown-icon.pull-right
        = render 'filter', category: @category
    = render 'categories', books: @books, categories: @categories
  .dropdowns.mb-25.visible-xs
    %p.lead.small.mb-10=t('.filter by category')
    .dropdown
      %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
        =t(".filter.#{Sort::SortBooksService::SORT_BY.first}")
        %i.fa.fa-angle-down.dropdown-icon.pull-right
      = render 'filter', category: @category
    %p.lead.small.mb-10=t('.sort by')
    .dropdown
      %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
        =t(".filter.#{Sort::SortBooksService::SORT_BY.first}")
        %i.fa.fa-angle-down.dropdown-icon.pull-right
      = render 'filter', category: @category
  .mb-120
    = render 'books', books: @books
    .row.mb-25
    -#.text-center
      %button.btn.btn-primary=t('.view more')
  = pagy_bootstrap_nav(@pagy).html_safe
