%main.container
  = link_to url_for(:back), class: 'general-back-link' do
    %i.fa.fa-long-arrow-left.mr-15
    #{t('back')}
  .row
    = render 'books/book', book_presenter: @book_presenter
  .mb-80
    %h3 #{t('.review.write_review')}
    = render 'books/comment/form', comment: @comment, book_presenter: @book_presenter
  .mb-80
    %h3.in-gold-500.mb-25 #{t('.review.reviews')} (3)
    = render 'books/comment/comments'
