%main.container.general-main-wrap
  .text-center
    %h3.general-login-title=t('devise.log_in')
    %a.general-login-icon{href: "#"}
      %i.fa.fa-facebook-official
    %p.general-login-text= t('devise.or')
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'general-form'}) do |f|
    = render 'devise/sessions/form', f: f
  %p.general-sign-text.text-center
    = t('devise.not_account')
    = link_to "Sign up", new_registration_path(resource_name), class: 'in-gold-500'
