%main.container
  %h1.general-title-margin= t('.checkout')
  = render 'checkouts/steps', service: service
  = simple_form_for address.billing_form, url: checkouts_path, method: :put, class: 'res-mb-100' do |form|
    = hidden_field_tag :step, 'address'
    .hidden-xs.hidden-sm
      .row
        .col-md-5
          %h3.general-subtitle= t('.billing_address')
          %p.general-info-text=t('.fields_required')
        .col-md-5.col-md-offset-1
          %h3.general-subtitle= t('.shipping_address')
    .row
      .col-md-5.mb-40
        .visible-xs.visible-sm
          %h3.general-subtitle= t('.billing_address')
          %p.general-info-text=t('.fields_required')
        = simple_fields_for :billing_form, address.billing_form do |f|
          = render partial: 'addresses/form', locals: {f: f, address_type: 'billing'}
      .col-md-5.col-md-offset-1.mb-60
        .visible-xs.visible-sm
          %h3.general-subtitle= t('.shipping_address')
        = simple_fields_for :shipping_form, address.shipping_form do |f|
          .shipping-form
            = render partial: 'addresses/form', locals: {f: f, address_type: 'shipping'}
        .form-group.checkbox
          %label.checkbox-label
            %input.checkbox-input.use_billing{type: 'checkbox', hidden: 'true',  name: 'use_billing', value: '1' }
            %span.checkbox-icon
              %i.fa.fa-check
            %span.checkbox-text= t('.use_billing_address')
    .general-text-align.mb-60
      = render 'checkouts/order_summary', service: service, current_order: service.current_order.decorate
      = form.submit t('.save_and_continue'), class: 'btn btn-default center-block mb-20'
