%main.container.general-main-wrap
  %h1.general-title-margin= t('.checkout')
  = render 'checkouts/steps', service: service
  .row.mb-20
    .col-sm-3
      %h3.general-subtitle Shipping Address
      %p.general-address
        John Doe
        %span.general-edit edit
        %br
        44 Fifth Ave v231
        %br
        New York NY 1001
        %br
        United States
        %br
        Phone +16507599755
    .col-sm-3
      %h3.general-subtitle Billing Address
      %p.general-address
        John Doe
        %span.general-edit edit
        %br
        44 Fifth Ave v231
        %br
        New York NY 1001
        %br
        United States
        %br
        Phone +16507599755
    .col-sm-3
      %h3.general-subtitle Shipments
      %p.general-address
        Delivery Next Day!
        %span.general-edit edit
        %br
        By train
    .col-sm-3
      %h3.general-subtitle Payment Information
      %p.general-address
        ** ** ** 8756
        %span.general-edit edit
        %br
        12/2018
  .visible-xs
    = render 'checkouts/media/mobile/confirm_items'
  .hidden-xs.divider-lg.pt-20
    = render 'checkouts/media/desktop/confirm_items', items: service.current_order.items.includes(%i[book])
  .text-center.general-text-right
    = render 'checkouts/order_summary', current_order: service.current_order.decorate, service: service
  .text-center
    = button_to t('.place_order'), checkouts_path, method: :put, class: 'btn btn-default mb-20'
