%main.container.general-main-wrap
  %h1.general-title-margin= t('.checkout')
  = render 'checkouts/steps', service: service
  %h3.general-subtitle= t('.shipping')
  = render 'checkouts/media/mobile/shipping_form', service: service.current_service
  = render 'checkouts/media/desktop/shipping_form', service: service.current_service
