- case @service.step
- when   'email_login'
  = render 'checkouts/email_login'
- when   'address'
  = render  'checkouts/address', service: @service, address: @service.current_service
- when   'delivery'
  = render  'checkouts/shipping', service: @service
- when   'payment'
  = render  'checkouts/payment', service: @service, credit_card: @service.current_service.credit_card
- when   'confirm'
  = render  'checkouts/confirm', service: @service
- when   'complete'
  = render  'checkouts/complete', service: @service

