- if @service.step == 'email_login'
  = render 'checkouts/email_login'
- if @service.step == 'address'
  = render  'checkouts/address', service: @service, address: @service.current_service
- if @service.step == 'delivery'
  = render  'checkouts/shipping', service: @service
- if @service.step == 'payment'
  = render  'checkouts/payment', service: @service, credit_card: @service.current_service.credit_card
- if @service.step == 'confirm'
  = render  'checkouts/confirm', service: @service
